<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" href="css/index.css"/>
</head>
<body>
<h1>Demo</h1>
<p>
    <code>frontend-maven-plugin</code>と、<code>maven-resources-plugin</code>を使って、Mavenビルドとnpmビルドを統合します。
</p>
<p>UUID: [[${uuid}]]</p>
<p>Now: [[${now}]]</p>

<ul><li th:each="f : ${fib}" th:classappend="${f % 2 == 0 ? 'even' : 'odd'}">[[${f}]]</li></ul>
<pre><code>$color-main: #333;
$color-even: #38f;
$color-odd: #c33;
$color-code-inline: #c33;
$color-code-block: $color-main;
$color-bg-code-block: #eee;
$color-border-code-block: #ccc;

body {
  color: $color-main;

  pre {
    padding: 1rem;
  }

  code {
    color: $color-code-inline;
    padding: .125rem;
  }

  pre,
  code {
    background-color: $color-bg-code-block;
    border-radius: 4px;
    border: 1px solid $color-border-code-block;

    > code {
      color: $color-code-block;

      border-radius: 0;
      border: 0;

      padding: 0;
    }
  }

  ul {
    padding: 0;

    li {
      display: inline;
      list-style: none;
      margin-right: .5rem;

      &.even {
        color: $color-even;
      }

      &.odd {
        color: $color-odd;
      }
    }
  }
}</code></pre>
</body>
</html>
